{
  "mcpServers": {
    "filesystem": {
      "command": "npx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-filesystem",
        "{{EXPORT_PATH}}",
        "{{RESOURCES_PATH}}",
        "{{KLASSEN_PATH}}",
        "{{STILE_PATH}}"
      ],
      "env": {}
    }
  }
}
